{erl_opts, [
  warn_unused_vars,
  warnings_as_errors,
  ewarn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  debug_info
]}.

{deps, [
  {hackney, {git, "https://github.com/benoitc/hackney.git", {branch, "master"}}},
  {erlcron, {git, "https://github.com/erlware/erlcron", {ref, "5c50aedfb33f9c3c08d98afe56d2b6ad2e2c811d"}}},
  {mysql, {git, "https://github.com/mysql-otp/mysql-otp", {tag, "1.3.1"}}}
]}.

{cover_enabled, true}.

{ct_opts, [
  {sys_config, ["config/sys.config"]}
]}.

{cover_enabled, true}.

{shell, [
  {config, ["config/test.config"]},
  {apps, [scrapper]}
]}.

{relx, [
  {release, {"scrapper", "0.1.0"}, [scrapper]},
  {vm_args, "config/vm.args"},
  {sys_config, "config/sys.config"},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}
]}.
