[
  {scrapper, [
    {scrap_urls, #{
      volatiledata => <<"https://www.nseindia.com/archives/nsccl/volt/">>
    }},
    {mysql, [
      {database, "nsedata"},
      {hostname, "localhost"},
      {username, "root"},
      {password, "password"},
      {pool_size, 5}
    ]}
  ]},
  {erlcron, [
    {crontab, [
      {
        {daily, [
          {5, 20, pm}
        ]},
        {scrap_data, run, []}
      }
    ]}
  ]}
].
